{% extends 'planner/base.html' %}

{% block title %}Trips - TravelPlanner{% endblock %}

{% block content %}
<h1>Your Trips</h1>

<h2>Add a New Trip</h2>
<div class="trip-card" style="max-width:400px; margin:auto;">
<form method="POST" style="margin-bottom:30px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">Add Trip</button>
</form>
</div>
<h2>Planned Trips</h2>
<h3>
  
    📍 <a href="{% url 'trip_detail' trip.id %}">
        {{ trip.destination.name }}
    </a>  
</h3>

{% if trips %}
<div class="card-container">
    {% for trip in trips %}
    <div class="trip-card">
        <h3>📍 {{ trip.destination.name }}</h3>

        <div class="trip-dates">
            🗓 {{ trip.start_date|date:"M d, Y" }}
            →
            {{ trip.end_date|date:"M d, Y" }}
        </div>

        {% if trip.notes %}
        <p>📝 {{ trip.notes|truncatewords:15 }}</p>
        {% endif %}

        <div class="trip-actions">
            <a href="{% url 'edit_trip' trip.id %}" class="edit">✏️ Edit</a>
            <a href="{% url 'delete_trip' trip.id %}" class="delete">🗑️ Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>You have no trips yet.</p>
{% endif %}

</div>
{% endblock %}
